.header {
    font-size: 40px;
    -unity-font: url("project://database/Assets/Fonts/Chakra_Petch/ChakraPetch-Bold.ttf?fileID=12800000&guid=234f685f37f9b214cbc8e5000d5d21f5&type=3#ChakraPetch-Bold");
    -unity-text-outline-color: rgba(255, 255, 255, 0);
    -unity-text-outline-width: 0;
    -unity-font-style: bold;
    left: 20px;
    -unity-font-definition: initial;
}
